/* get font(s) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@500&family=VT323&display=swap');


/* menubar stuff */

.table{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  order:1;
}


input{
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #b4b8ba;
  background: rgba(220, 220, 224, 0.05);
  font-size: 12px;
  border: 1px solid rgba(79, 79, 80, 0.07);
}


.not-found{
  color: #3698c9;
}


/* committee header stuff */


/* general stuff */
html {
    background-color: #1a1a21 !important;
    margin: 2em;
}

body {
    /*margin-right: 6rem;
    margin-left: 6rem;*/

    color: #cad4da;
    font-family: monospace;
    /*display: flex; */
    text-align: center;
    padding-top: 1em;
    size: 10px;
}

p {
    font-size: 8px;
    margin: 0;
    color: #cad4da;
    text-align: center;
    font-family: monospace;
}



/* .modal-content label, .modal-content input, .modal-content button {
  margin: 10px 0;
} */


.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  }
  
  td, th {
  font-size: smaller;
  border: 1px solid #9eaaaa;
  text-align: center;
  padding: 12px;
  }
  
  
  
  
  a {
    color: #3698c9;
    font-weight: bold;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
  }
  a:hover{ 
    color:#4759b3; background: #14141a; }
  
  
  ::selection {
    color: #edeef0;
    background: rgb(14, 155, 171);
  }
  

  pre {
      margin-top: 0;
    }

    dt + dd {
      margin-bottom: 1.5em;
    }
    
    dt { font-weight: bold; border-top: 1px solid rgb(116, 115, 122);}